[submodule "src/hector_gazebo"]
	path = src/hector_gazebo
	url = https://github.com/tommyvsfu1/hector_gazebo.git
[submodule "src/husky"]
	path = src/husky
	url = https://github.com/tommyvsfu1/husky.git
[submodule "src/hakuto"]
	path = src/hakuto
	url = https://github.com/tommyvsfu1/hakuto.git
[submodule "src/husky_simulator"]
	path = src/husky_simulator
	url = https://github.com/tommyvsfu1/husky_simulator.git
